data/*
*.pth
*.pyc
fig/*
*.txt
saved_model/*
results*
zzz/
amc-master/
amc/
*.zip
pruning_results*
travel_figures_v*
*.pdf
checkpoint/
train_pruning_attack/pruning_results/
mixup-cifar10/
.vscode/
trojan_detection_neural_cleanse/Neural_Cleanse/
trojan_detection_neural_cleanse/neural_cleanse_anomaly_index/
train_quantization_attack/tensooard/
train_quantization_attack/tensorboard/
